<div class="gridy-view-icongrid-item gridy-item">
    <style>
        .gridy-item.selected {
            background: #f0f0f0;
        }
        .gridy-view-icongrid-item__preview {
            width:{{ itemPreviewWidth }};
            height:{{ itemPreviewHeight }};
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            background-image:url({{ loadingImageFullPath }});
        }
        .icongrid-blinking {
            animation:blinkingText 1.2s infinite;
        }
        @keyframes blinkingText {
            0%{     opacity: 0.6;    }
            49%{    opacity: 0.8; }
            60%{    opacity: 0.6; }
            99%{    opacity: 0.8;  }
            100%{   opacity: 0.6;    }
        }
    </style>
    <div class="gridy-view-icongrid-item__preview"><i></i></div>
    <div class="gridy-view-icongrid-item__title">{{ name }}</div>
</div>
